.btn-group {
    /*height: 0 !important;*/
}

.club_info_text .btn-group {
    margin-bottom: 20px;
}

.club_info {
    margin-top: 20px;
}
.club_info dl{
    margin: 0 !important;
}
.club_info .options img{
    margin-bottom: 30px;
}


.club_info .options{
    margin-bottom: 30px;
}

.club_info h1{
    font-size: 27px;
}



.club_info_content
{
    height: 200px;
    overflow: hidden;
}

.club_info_content{
    position:relative;
}

.club_info_content div{
    position:absolute;
    bottom: 8px;
    background: #fff;
    height: 20px;
    border: 1px gray dashed;
    text-align: center;
padding:3px;
    width: 292px;
    cursor: pointer;
    box-shadow:0 0 15px 13px #FFFFFF;
}
.club_info_content div:hover{
    color:#000;
}


.margin_t_b_5
{
    margin:13px 0px;
}

.menu_club
{
    margin: 0px;
    padding:0px;
}
.menu_club li a
{
    margin: 0px;
    padding:0px;
    float:left;
    width: 142px;
    text-align: center;
    background: #dadada url(/images/line_menu.png) no-repeat left top;
    padding:5px 0px;
    color:#000;
    text-decoration: none;;
}
.menu_club li:first-child a
{
    background: #dadada;
    width: 148px;
}
.menu_club li a:hover{
    background-color: #efefef;
}

.menu_club li a.active{
    background-color: #7b7b7b;
    color:#fff;
}

.block_info
{
    display: none;
    margin-top:10px;
}