/upload
/tmp/*
/cache/*
/managed_cache/*
/stack_cache/*
/bitrix/modules/*
/bitrix/components/bitrix/*
/bitrix/components/altasib/*
/bitrix/components/infocom/*
/bitrix/components/prmedia/*
/bitrix/gadgets/*
/bitrix/wizards/*
/backup/*
/bitrix/php_interface/dbconn.php
/robots.txt
/bitrix/html_pages
/bitrix/sounds
/bitrix/image_uploader
/bitrix/js
/bitrix/images
