.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-datepicker-multi-3.ui-datepicker-multi{
    width: 100% !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    height: 24px;
}

.table.table-bordered.table-striped{
    font-size: 16px;
}

.red{
    border: 1px solid red !important;


}