.stock h1{
    font-size: 21px;
}
.stock h2{
    font-size: 18px;
}
.link_cupon{
    background: none repeat scroll 0 0 #EAEAEA;
    padding: 20px;
}
.link_cupon span{
   color:#0088CC;
    cursor: pointer;
}
.link_cupon span:hover{
    color:#005580;
}